<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Balance Box | Kantin Kejujuran</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-gradient-to-bl from-indigo-800 via-indigo-400 to-indigo-900">
    <nav class="fixed bg-indigo-800 bg-opacity-40 top-0 w-full shadow">
        <div class="container m-auto flex justify-between items-center text-gray-700">
            <div class="w-48 flex justify-start mx-4">
                <a href="/" class="py-3 text-xl text-white text-center font-bold">Kantin Kejujuran</a>
            </div>
            <div class="w-96 flex justify-evenly hidden md:flex font-semibold">
                <a href="/store"><button class="rounded-lg w-40 hover:bg-indigo-700 hover:shadow-lg py-2 px-6 text-white text-center">The Store</button></a>
                <a href="/balance-box"><button class="rounded-lg bg-indigo-500 w-40 hover:bg-indigo-700 hover:shadow-lg py-2 px-6 text-white text-center">Balance Box</button></a>
            </div>
            <div class="w-48 flex justify-end mx-4">
                <button class="py-3 px-4 mx-2 rounded focus:outline-none bg-white hover:bg-indigo-600 hover:shadow-lg group"> 
                    <div class="absolute rounded-lg top-0 my-1.5 -right-full h-fit md:w-1/5 w-2/5 bg-white transition-all duration-300 group-focus:right-0 focus-within:right-0">
                        <ul class="flex flex-col items-center w-full text-base font-semibold">
                            <a href="/store" class="md:hidden rounded hover:text-white hover:bg-indigo-500 py-2 px-6 w-full">The Store</a>
                            <a href="/balance-box" class="md:hidden rounded hover:text-white hover:bg-indigo-500 py-2 px-6 w-full">Balance Box</a>
                            <a href="/logout" class="rounded hover:text-white hover:bg-red-500 py-2 px-6 w-full">Logout</a>
                        </ul>
                    </div>
                </button>
            </div>
        </div>
    </nav>

    <div class="container min-w-min mx-auto px-8">
        <div class="max-w-lg mx-auto">
            <h1 class="text-4xl font-bold text-white text-center">Balance Box</h1>
        </div>
        <div class="bg-white max-w-lg mx-auto p-10 my-10 rounded-lg shadow-xl hover:shadow-2xl flex flex-col items-center justify-center">
            <h3 class="text-3xl md:text-4xl font-bold text-indigo-600 text-center mb-6 overflow-auto w-full">Rp<span id="total" th:text="${total}"></span></h3>
            <div class="flex flex-col md:flex-row justify-center items-center">
                <button id="button-add" class="my-2 mx-6 font-semibold text-lg md:text-xl rounded-lg w-40 bg-green-500 hover:bg-green-600 hover:shadow-xl py-2 px-6 text-white text-center">Add</button>
                <button id="button-withdraw" class="my-2 mx-6 font-semibold text-lg md:text-xl rounded-lg w-40 bg-red-500 hover:bg-red-600 hover:shadow-xl py-2 px-6 text-white text-center">Withdraw</button>
            </div>
        </div>
    </div>

    <div id="form-add" class="bg-black bg-opacity-40 fixed inset-0 hidden min-w-min flex justify-center items-center">
        <div class="bg-white sm:w-2/3 md:w-1/3 w-5/6 p-4 rounded-lg shadow-xl">
            <div class="flex justify-end items-center">
                <svg id="close-modal" class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" fill="currentColor" viewBox="0 0 20 20"> <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </div>

            <div class="text-center p-4 flex flex-col items-center">
                <form id="balance-box-add" class="flex flex-col items-center" action="/balance-box/add" method="POST">
                    <input id="change" type="text" pattern="[1-9][0-9]*" placeholder="Enter the amount of Rupiah" name="change" required class="text-center text-base sm:text-lg md:text-xl text-gray-700 font-semibold w-full mb-4 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    <button id="buy-product" class="text-white bg-green-500 hover:bg-green-600 focus:ring-2 focus:outline-none w-full focus:ring-green-400 font-semibold rounded-lg text-base sm:text-lg items-center px-5 py-2.5 text-center m-2" type="submit">Add Balance Box</button>
                </form>
            </div>
        </div>
    </div>

    <div id="form-withdraw" class="bg-black bg-opacity-40 fixed inset-0 hidden min-w-min flex justify-center items-center">
        <div class="bg-white sm:w-2/3 md:w-1/3 w-5/6 p-4 rounded-lg shadow-xl">
            <div class="flex justify-end items-center">
                <svg id="close-modal" class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" fill="currentColor" viewBox="0 0 20 20"> <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </div>

            <div class="text-center p-4 flex flex-col items-center">
                <form id="balance-box-withdraw" class="flex flex-col items-center" action="/balance-box/withdraw" method="POST">
                    <input id="change" type="text" pattern="[1-9][0-9]*" placeholder="Enter the amount of Rupiah" name="change" required class="text-center text-base sm:text-lg md:text-xl text-gray-700 font-semibold w-full mb-4 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500">
                    <button id="buy-product" class="text-white bg-red-500 hover:bg-red-600 focus:ring-2 focus:outline-none w-full focus:ring-red-400 font-semibold rounded-lg text-base sm:text-lg items-center px-5 py-2.5 text-center m-2" type="submit">Withdraw Balance Box</button>
                </form>
            </div>
        </div>
    </div>

    <div id="modal-failed" class="bg-black bg-opacity-40 fixed hidden inset-0 flex justify-center items-center">
        <div class="bg-white sm:w-2/3 md:w-1/3 w-5/6 p-4 rounded-lg shadow-xl">
            <div class="flex justify-end items-center">
                <svg id="close-modal" class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" fill="currentColor" viewBox="0 0 20 20"> <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="text-center p-4">
                <svg class="mx-auto mb-4 w-20 h-16 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h3 class="mb-1 text-lg font-normal text-gray-500">Operation Failed</h3>
                <h3 class="text-lg font-normal text-gray-500">Try Again</h3>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#button-add").click(function(){
                $("#form-add").toggleClass("hidden");
            });

            $("#form-add #close-modal").click(function(){
                $("#form-add").toggleClass("hidden");
                $("#balance-box-add #change").val("");
            });

            $("#button-withdraw").click(function(){
                $("#form-withdraw").toggleClass("hidden");
            });

            $("#form-withdraw #close-modal").click(function(){
                $("#form-withdraw").toggleClass("hidden");
                $("#balance-box-withdraw #change").val("");
            });

            $("#modal-failed #close-modal").click(function(){
                $("#modal-failed").toggleClass("hidden");
            });

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $("#balance-box-add").submit(function(event) {
                event.preventDefault();

                var $form = $(this);
                var data = $form.find("input[name='change']").val();
                var url = $form.attr("action");

                $.ajax({
                    url:url,
                    type:"POST",
                    data:data,
                    dataType:"json",
                    contentType:"application/json; charset=utf-8",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(data) {
                        $("#form-add").toggleClass("hidden");
                        $("#balance-box-add #change").val("");
                        $("#total").text(data);
                    },
                    error: function() {
                        $("#form-add").toggleClass("hidden");
                        $("#balance-box-add #change").val("");
                        $("#modal-failed").toggleClass("hidden");
                    }
                })
            });

            $("#balance-box-withdraw").submit(function(event) {
                event.preventDefault();

                var $form = $(this);
                var data = $form.find("input[name='change']").val();
                var url = $form.attr("action");

                $.ajax({
                    url:url,
                    type:"POST",
                    data:data,
                    dataType:"json",
                    contentType:"application/json; charset=utf-8",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(data) {
                        $("#form-withdraw").toggleClass("hidden");
                        $("#balance-box-withdraw #change").val("");
                        $("#total").text(data);
                    },
                    error: function() {
                        $("#form-withdraw").toggleClass("hidden");
                        $("#balance-box-withdraw #change").val("");
                        $("#modal-failed").toggleClass("hidden");
                    }
                })
            });
        });
    </script>
</body>
</html>